$clr-orange: hsl(31, 77%, 52%);
$clr-cyan: hsl(184, 100%, 22%);
$clr-dark-cyan: hsl(179, 100%, 13%);

$clr-off-white: hsla(0, 0%, 100%, 0.75);
$clr-gray: hsl(0, 0%, 95%);

// $card-pY: 2.3rem;
// $card-pX: 2.375rem;
// // $img-w: 50px;
// $img-w: 35%;
// $heading-mY: 1rem;
// $heading-mX: 0rem;

// $btn-font: 7rem; 
// $btn-pY: .5rem; 
// $btn-pX: 1.5rem; 

$card-pY: 1.2rem;
$card-pX: 1.2rem;
// $img-w: 50px;
$img-w: 3rem;
$heading-mY: 1.5rem;
$heading-mX: 0rem;
$heading-fs: 2rem;

$paragraph-fs: 1rem;

$btn-font: .8rem; 
$btn-pY: .8rem; 
$btn-pX: 2rem; 
$btn-mY: 1.8rem; 

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

body {
    padding: 2rem;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    color:hsl(0, 0%, 95%);
}    
.card {
    min-height: 350px;
    padding: $card-pY $card-pX;

    &:first-child {
        border-radius: 10px 10px 0 0;
    }
    &:last-child {
        border-radius: 0 0 10px 10px;
    }
    &.sedan {
        background-color: $clr-orange;
        button {
            color: $clr-orange;
        }
    }

    &.suvs {
        background-color: $clr-cyan;
        button {
            color: $clr-cyan;
        }
    }

    &.luxury {
        background-color: $clr-dark-cyan;
        button {
            color: $clr-dark-cyan;
        }
    }
}

img {
    min-width: 50px;
    width: $img-w;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: $heading-fs;
    text-transform: uppercase;
    margin: $heading-mY 0;
}

p {
    max-width: 26ch;
    color: $clr-off-white;
    font-size: $paragraph-fs;
}

button {
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 50px;
    font-size: $btn-font;
    padding: $btn-pY $btn-pX;
    margin-top: $btn-mY;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: white !important;
    }
}


@media (min-width: 290px) {
    h1 {
        font-size: ($heading-fs + .5rem);
    }

    .card {
        padding: ($card-pY + 1rem) ($card-pX + 1rem);
    }
}

@media (min-width: 350px) {
    main {
        max-width: 350px;
        margin: 0 auto;
    }

    h1 {
        font-size: ($heading-fs * 1.3);
    }

    img {
        width: ($img-w + 1rem);
    }

    .card {
        padding: ($card-pY + 2rem) ($card-pX + 2rem);
    }
}

@media (min-width: 920px) {
    main {
        margin-top: 170px;
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        
        &:first-child {
            border-radius: 10px 0 0 10px;
        }
        &:last-child {
            border-radius: 0 10px 10px 0;
        }
    }

    button {
        margin-top: 4rem;
    }
}